/* * {
    background-color: paleturquoise;
} */



body {
    background-color: gray;
}
.nav {
    list-style-type: none;
    background-color: gray;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float: left
}
ul.nav li a {
    display: block;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
ul.nav a:hover {
    background-color: #555;
    color: white;
}


/*==============================CSS GRID DIV1==================================*/

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: red;
}

.nav-menu {
    grid-column: 1 / span 3;
    grid-row: 1;
}

/* .example-section {
    grid-column: 1 / span 2;
    grid-row: 2;
} */

/* Row 2 */
.image-section {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: yellow;
}
/* ROW  */
.main1-section {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: orange;
}

.sidenav-section {
    grid-column: 3;
    grid-row: 3 / span 3;  
    background-color: yellow;
}

/* ROW */
.support1-section {
    grid-column: 1;
    grid-row: 4 / span 1;  
    background-color: yellow;
}
.support2-section {
    grid-column: 2;
    grid-row: 4 / span 1;  
    background-color: yellow;
}


/* ROW */

.main2-section {
    grid-column: 1 / span 2;
    grid-row: 5;
    background-color: orange;
}



/* FOOTER */


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}


/* GRID 2  */

.grid-container2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.grid-item2 {
    text-align: center;
    font-size: 30px;
    padding: 20px;
    background-color: rgb(0, 170, 255);
}

.nav-menu2 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

